*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(135deg, #2a6a8f 0%, #1a9eaa 100%);
    border-bottom-left-radius: 12px; 
    border-bottom-right-radius: 12px; 
    margin-bottom: 20px;
}

#nav {
    flex: 1;
    text-align: right; 
}

#Lista_Header {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

#Lista_Header li {
    margin-left: 20px; 
}

#Lista_Header a {
    text-decoration: none;
    color: #333; 
    font-weight: bold;
}

#Lista_Header a:hover {
    color: #53eff5; 
    font-size: larger;
}

#Logo {
    width: 120px;
    height: 120px;
}

#produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaçamento entre os blocos */
    padding: 20px;
    background-color: #f9f9f9; /* Cor de fundo dos blocos */
}

#titulo-produtos{
    text-align: center;
    font-size: 2em;
    margin: 20px 0; /* Adiciona margem acima e abaixo do título */
    color: #333;
}

.produto {
    flex: 1 1 calc(25% - 20px); /* Ajusta o tamanho dos blocos */
    box-sizing: border-box;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px; /* Borda arredondada */
    padding: 15px;
    text-align: center;
    text-decoration: none; /* Remove o sublinhado dos links */
    color: inherit; /* Herda a cor do texto do pai */
    transition: box-shadow 0.3s ease; /* Adiciona um efeito suave ao passar o mouse */
}

.produto:hover {
    box-shadow: 0 4px 10px rgba(44, 223, 255, 0.6); /* Adiciona uma sombra ao passar o mouse */
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 4px; /* Borda arredondada da imagem */
}

.produto h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.produto p {
    font-size: 1.1em;
    color: #23d6da; /* Cor do preço */
    font-weight: bold;
}

#sobre {
    padding: 40px 20px;
    background: linear-gradient(135deg, #ffffff 0%, #cacaca 100%);
    border-radius: 12px;
    margin: 20px auto;
    margin-bottom: 50px;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}

#sobre:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.sobre-conteudo {
    text-align: center;
}

#sobre h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

#sobre p {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.6;
}

#titulo-produtos-carrosel{
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    color: #333;
}

#carrossel {
    max-width: 100%;
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    background-color: #f9f9f9; /* Cor de fundo do carrossel */
    border: 2px solid #1a9eaa;
    border-radius: 12px;
}

.carrossel a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: inherit;
    margin-right: 20px;
    margin-top: 10px;
}

.carrossel img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Borda arredondada das imagens */
    border: 1px solid #ebebeb;
}

.carrossel img:hover{
    box-shadow: 0 4px 8px #1a9eaa;
}

.carrossel p {
    margin: 10px 0;
    font-size: 1.1em;
    color: #23d6da; /* Cor do preço */
    font-weight: bold;
}

#titulo-produtos-todos{
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    color: #333;
}

.produto-todos {
    flex: 1 1 calc(25% - 20px); /* Ajusta o tamanho dos blocos */
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px; /* Borda arredondada */
    padding: 15px;
    text-align: center;
    text-decoration: none; /* Remove o sublinhado dos links */
    color: inherit; /* Herda a cor do texto do pai */
    transition: box-shadow 0.3s ease; /* Adiciona um efeito suave ao passar o mouse */
}

.produto-todos:hover {
    box-shadow: 0 4px 10px rgba(44, 223, 255, 0.6); /* Adiciona uma sombra ao passar o mouse */
}

.produto-todos img {
    max-width: 100%;
    height: auto;
    border-radius: 4px; /* Borda arredondada da imagem */
}

.produto-todos h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.produto-todos p {
    font-size: 1.1em;
    color: #23d6da; /* Cor do preço */
    font-weight: bold;
}

footer {
    background-color: #f0f0f0; 
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd; 
}

footer p {
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
}

footer a {
    color: #23d6da;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline; 
}